{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="game">
    <form action="" method="post">
        {% csrf_token %}
        <div class="text-question">
            <h3 class="question">
                {{ question.question|safe }}
            </h3>
        </div>

        <div class="answers">
            {% for answer in question.answers %}
              <div class="form-check">
                <input type="radio" id="{{ answer }}" name="answer" value="{{ answer }}">
                <label for="{{ answer }}">{{ answer|safe }}</label>
              </div>
            {% endfor %}
        </div>

        <div class="start">
            <button type="submit" class="next">Next</button>
        </div>
    </form>
</div>

{% endblock %}